<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Friend list</title>
    <link rel="stylesheet" href="animsition.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="animsition.min.js"></script>
  </head>
  <body>
    <div id="app" class="animsition">
      <div class="container">
        <div class="row">
          <div class="col-6"  v-if='ok'>
            <form>
              <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" class="form-control" id="name" v-model='name'>
              </div>
              <div class="form-group">
                <label for="tel">Телефон</label>
                <input type="tel" class="form-control" id="tel" v-model='tel'>
              </div>
              <div class="form-group">
                <label for="email">Почта</label>
                <input type="email" class="form-control" id="email" v-model='email'>
              </div>
            </form>
            <button class="btn btn-primary" @click='addFriend'>+</button>
            <ul>
              <li v-for='(friend, index) in count'>
                <div class="form-group alert alert-success">
                  <label :for="index">Имя</label>
                  <input type="text" class="form-control" :id="index" @change='addFriendToList($event)'>
                </div>
              </li>
            </ul> 
            <button class="btn btn-success" @click='ok = !ok'>go</button>
          </div> 
        </div>
        <div class="col-6" v-if='!ok'>
          <div>
            <p>Имя {{ name }}</p>
            <p>Почта {{ email }}</p>
            <p>Телфон {{ tel }}</p>
            <div class="alert alert-primary" v-if="show">
              <p v-for='(friend, index) in friendsList'>
                <span>{{ index }}</span> - {{ friend }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

    new Vue({
      el: '#app',
      data: {
        ok: true,
        show: false,
        name: '',
        tel: '',
        email: '',
        p: '',
        count: 0,
        friendsList: []
      },
      methods:{
        addFriend(){
          this.count++;
        },
        addFriendToList(e){
          let val = e.target.value;
          this.friendsList.push(val);
        },
        go() {

        }
      },
      watch:{
        friendsList(){
          if (this.friendsList.length > 0) {
            this.show = true
          } else {
            whis.show = false
          }
        }
      }
    })  
     
  
    $(document).ready(function() {
  $(".animsition").animsition({
    inClass: 'rotate-in',
    outClass: 'rotate-out',
    inDuration: 1500,
    outDuration: 800,
    linkElement: '.animsition-link',
    // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
    loading: true,
    loadingParentElement: 'body', //animsition wrapper element
    loadingClass: 'animsition-loading',
    loadingInner: '', // e.g '<img src="loading.svg" />'
    timeout: false,
    timeoutCountdown: 5000,
    onLoadEvent: true,
    browser: [ 'animation-duration', '-webkit-animation-duration'],
    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
    overlay : false,
    overlayClass : 'animsition-overlay-slide',
    overlayParentElement : 'body',
    transition: function(url){ window.location.href = url; }
  });
});
    </script>
      
  </body>
</html>
